<!DOCTYPE html>
<html>
<head>
<title>Aviso de Corte</title>
	<meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "aviso_corte" %>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>