<!DOCTYPE html>
<html>
<head>
<title>Contrato de Adesão</title>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "contrato_adesao" %>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>