<!DOCTYPE html>
<html>
<head>
<title>Segunda Via de Conta</title>
	<meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "conta_segunda_via" %>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>